/* FEATURED */

.section-container-featured {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffd900;
    background-image: url('../../../assets/images/tile-stars.png');
    background-repeat: repeat;
    background-size: 30rem;
    width: 100%;

    /* Scrolling stars */
    animation-name: diagonalScroll;
    animation-duration: 60s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes diagonalScroll {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: -1600px -1600px;
    }
}

.section-title-featured {
    position: relative;
    display: flex;
    color: #000;
    height: 60px;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(2px 2px 0px #fff);
    font-size: 1.5rem;
    font-weight: bold;
}

.feature-card {

    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border-radius: 30px;
    padding: 10px 25px;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    width: auto;
    max-width: fit-content;
    margin: auto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.25);

}

.carousel-dots-featured {
    display: flex;
    color: #fff;
    filter: drop-shadow(2px 2px 1px #957f00);
    font-size: 1rem;
    font-weight: bold;
    margin: 25px;
    width: 100%;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.feature-side-pic
{
    position: absolute;
    background-image: url('../../../assets/images/sidepic.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    background-position-y: 20px;
    width: 180px;
    height: 100%;
    left: 8%;
    bottom: 0;
    z-index: 1;
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.75));
    /* transition: background-position 1s cubic-bezier(0, 0, 0.2, 1); */
}

/* FEATURE SECONDARY SWIPER */


.section-featured-backgroundswipe-container {
    position: absolute;
    perspective: 500px;
    transform-style: preserve-3d;
    top: 0px;
    right: 0px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 500px;
    overflow: hidden;
}

.section-featured-image-perspective {
    opacity: 80%;
    position: relative;
    top: -50px;
    right: -60px;
    transform: rotateX(40deg) rotateY(-40deg) rotateZ(30deg) translateY(-50px);
    height: 200%;
    width: 100%;
    mask-image: linear-gradient(to right, 
    transparent 0%, 
    black 70%, 
    black 70%, 
    transparent 100%);
}


.section-featured-image1 {
    display: flex;
    width: 100%;
    height: 100%;
    color: #8ac4ff;
    background-image: url('../../../assets/images/fluffy.jpg');
    background-size: cover;
    mask-image: linear-gradient(to right, 
    transparent 0%, 
    black 50%, 
    transparent 100%);
}

.section-featured-image2 {
    display: flex;
    width: 100%;
    height: 100%;
    color: #8ac4ff;
    background-image: url('../../../assets/images/lions.jpg');
    background-size: cover;
    mask-image: linear-gradient(to right, 
    transparent 0%, 
    black 70%, 
    black 70%, 
    transparent 100%);
}

.section-featured-image3 {
    display: flex;
    width: 100%;
    height: 100%;
    color: #8ac4ff;
    background-image: url('../../../assets/images/winbig.jpg');
    background-size: cover;
    mask-image: linear-gradient(to right, 
    transparent 0%, 
    black 70%, 
    black 70%, 
    transparent 100%);
}

.backgroundSwiper .swiper-wrapper .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-footer-featured {
    display: flex;
    color: #fff;
    height: 50px;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
}