/* WHATS UP */

.section-container-whatsup {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.section-footer-whatsup {
    display: flex;
    color: #fff;
    height: 40px;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.section-title-default {
    display: flex;
    color: #fff;
    height: 60px;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(2px 2px 0px #000000);
    font-size: 1.5rem;
    font-weight: bold;
}

.carousel-container-edgefade {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 800px;
    mask-image: linear-gradient(to right, transparent 0%, black 5% 95%, transparent 100%);
}

/* SWIPER CONTROLS */

.swiper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
  }
  
  .swiper-slide {
    /* Nothing */
  }

  .backgroundSwiper .swiper-wrapper .swiper-slide {
    top: 15px;
  }

  .darkboxSwiper .swiper-wrapper {
    display: flex;
    align-items: baseline;
  }

  .darkboxSwiper .swiper-wrapper .swiper-slide {
    padding: 15px;
    height: 100%;
  }

 

  .swiper-button-next :hover {
    /* Global hover effect? */
  }

  .swiper-button-disabled {
    visibility: hidden;
  }
  
  .swiper-button-prev::after, .swiper-button-next::after {
      display: none;
  }
  
  .swiper-button-prev .postcard-button, .swiper-button-next .postcard-button {
      display: flex;
      font-size: 1.5rem;
      color: #fff;
      filter: drop-shadow(2px 2px 0px #000000);
      z-index: 2;
  }

    .swiper-button-prev .featured-button, .swiper-button-next .featured-button {
      display: flex;
      font-size: 1.25rem;
      color: #000000;
      filter: drop-shadow(2px 2px 0px #fff);
      z-index: 2;
  }

  .swiper-pagination {
    margin-bottom: 7px;
  }

  .section-footer-whatsup .swiper-pagination-bullet-active {
    background-color: #fff !important;
  }
  
  .section-footer-whatsup .swiper-pagination-bullet {
    opacity: 100%;
    background-color: #000000;
  }

.section-footer-featured .swiper-pagination-bullet-active {
    background-color: #000 !important;
  }

  .section-footer-featured .swiper-pagination-bullet {
    opacity: 100%;
    background-color: #fff;
  }

  .swiper-wrapper {
    align-items: center;
  }

/* POSTCARDS */

.postcard-soapbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #333;
    aspect-ratio: 16 / 9;
    width: 100%;
    max-width: 600px;
    align-items: center;
    border-radius: 15px;
    margin: auto;
    overflow: hidden;
    background-image: url('../../../assets/images/werehome.jpg');
    background-position: center;
    background-size: cover; /* Adjust the height */
    /* filter: drop-shadow(30px 30px 4px rgba(0, 0, 0, 0.5));
    outline: 2px solid #129363; */
}

.postcard-live {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #333;
    aspect-ratio: 16 / 9;
    width: 100%;
    max-width: 600px;
    align-items: center;
    border-radius: 15px;
    margin: auto;
    overflow: hidden;
    background-image: url('../../../assets/images/concert.jpg');
    background-position: center;
    background-size: cover; /* Adjust the height */
    /* filter: drop-shadow(30px 30px 4px rgba(0, 0, 0, 0.5));
    outline: 2px solid #129363; */
}

.postcard-music {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #333;
    aspect-ratio: 16 / 9;
    width: 100%;
    max-width: 600px;
    align-items: center;
    border-radius: 15px;
    margin: auto;
    overflow: hidden;
    background-image: url('../../../assets/images/dbz.jpg');
    background-position: center;
    background-size: cover; /* Adjust the height */
    /* outline: 2px solid #1A63AB;
    filter: drop-shadow(30px 30px 4px rgba(0, 0, 0, 0.5)); */
}

.postcard-learn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #333;
    aspect-ratio: 16 / 9;
    width: 100%;
    max-width: 600px;
    align-items: center;
    border-radius: 15px;
    margin: auto;
    overflow: hidden;
    background-image: url('../../../assets/images/sheetmusic.jpg');
    background-position: center;
    background-size: cover; /* Adjust the height */
    /* outline: 2px solid #1A63AB;
    filter: drop-shadow(30px 30px 4px rgba(0, 0, 0, 0.5)); */
}

.postcard-discover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #333;
    aspect-ratio: 16 / 9;
    width: 100%;
    max-width: 600px;
    align-items: center;
    border-radius: 15px;
    margin: auto;
    overflow: hidden;
    background-image: url('../../../assets/images/discover.jpg');
    background-position: center;
    background-size: cover; /* Adjust the height */
    /* outline: 2px solid #555; */
}

.postcard-spacer-height {
    margin: auto;
}

.postcard-title-soapbox {
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: #fff;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: rgba(67, 145, 103, 0.6);
    padding: 5px;
    width: 100%;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    text-shadow: 1px 1px 0px #129363;
}

.postcard-title-live {
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: #fff;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: rgba(255, 70, 30, 0.6);
    padding: 5px;
    width: 100%;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    text-shadow: 1px 1px 0px #FF461E;

}

.postcard-title-music {
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: #fff;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: rgba(118, 69, 141, 0.6);
    padding: 5px;
    width: 100%;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    text-shadow: 1px 1px 0px #76458D;
}

.postcard-title-learn {
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: #fff;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: rgba(26, 99, 171, 0.6);
    padding: 5px;
    width: 100%;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    text-shadow: 1px 1px 0px #1A63AB;
}

.postcard-title-discover {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    font-weight: bold;
    width: 100%;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.6);
    padding: 5px;
}

.postcard-info {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    width: 100%;
    height: 30px;
    z-index: 2;
}

.postcard-tag {
    color: #fff;
    font-size: 0.85rem;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.2);
    margin-inline: 5px;
    padding: 1px;
    padding-inline: 5px;
    border-radius: 3px;
    overflow: hidden;
    z-index: 2;
}

.postcard-date {
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    overflow: visible;
    margin-inline: 5px;
    white-space: nowrap;
    filter: drop-shadow(1px 1px 0px #000000);

}

.postcard-discover a {
    background: #FFD700 -webkit-linear-gradient(left, #d69200, #ffd900) repeat -2em 0 / 50%;
    -webkit-text-fill-color:transparent;
    -webkit-background-clip: text;
    animation: LightSweep 0.5s infinite ease-in;
}

.section-background-container {
    position: absolute;
    width: 100%;
    max-height: 600px;
    height: 100%;
    aspect-ratio: 16 / 9;
    z-index: 0;
}

.discover-subtitle {
    /* font properties */
}

.section-background-soapbox {
    background-color: #40b98d;
    background-image: url('../../../assets/images/tile-bubbles.png');
    background-repeat: repeat;
    background-size: 20rem;
    width: 100%;
    height: 100%;
}

.section-background-live {
    background-color: #ff532d;
    background-image: url('../../../assets/images/tile-flares.png');
    background-repeat: repeat;
    background-size: 15rem;
    width: 100%;
    height: 100%;
}

.section-background-music {
    background-color: #8840a9;
    background-image: url('../../../assets/images/tile-music.png');
    background-repeat: repeat;
    background-size: 30rem;
    width: 100%;
    height: 100%;
}

.section-background-learn {
    background-color: #3580cb;
    background-image: url('../../../assets/images/tile-neurons.png');
    background-repeat: repeat;
    background-size: 20rem;
    width: 100%;
    height: 100%;
}

.section-background-discover {
    align-items: center;
    background-color: #828282;
    background-image: url('../../../assets/images/tile-speckles.png');
    background-repeat: repeat;
    background-size: 50rem;
    width: 100%;
    height: 100%;
}



