@font-face {
  font-family: 'Arial Narrow';
  src: 
  url('assets/fonts/ArialNarrow.woff2') format('woff2'), /* Modern Browsers */
  url('assets/fonts/ArialNarrow.html') format('woff'), /* Older Browsers */
  url('assets/fonts/ArialNarrow.ttf') format('truetype'); /* Oldest Browsers */
  font-style: normal;
}

@font-face {
  font-family: 'Arial Narrow';
  src: 
  url('assets/fonts/ArialNarrowBold.html') format('woff2'), /* Modern Browsers */
  url('assets/fonts/ArialNarrowBold.woff') format('woff'), /* Older Browsers */
  url('assets/fonts/ArialNarrowBold.ttf') format('truetype'); /* Oldest Browsers */
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: 'EBMedium';
  src: 
  url('assets/fonts/EBMedium.woff2') format('woff2'), /* Modern Browsers */
  url('assets/fonts/EBMedium.woff') format('woff'), /* Older Browsers */
  url('assets/fonts/EBMedium.ttf') format('truetype'); /* Oldest Browsers */
  font-style: normal;
}

@font-face {
  font-family: 'EBRegular';
  src: 
  url('../fonts/EBRegular.woff2') format('woff2'), /* Modern Browsers */
  url('../fonts/EBRegular.woff') format('woff'), /* Older Browsers */
  url('../fonts/EBRegular.ttf') format('truetype'); /* Oldest Browsers */
  font-style: normal;
}

::-webkit-scrollbar {
  height: 12px;
  width: 8px;
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #222;
  -webkit-border-radius: 1ex;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial Narrow, sans-serif;
}

body {
  background-color: #000;
  margin-top: 80px;
  overflow: auto;
}

.full-width {
  text-align: justify;
  display:inline-block;
}

a {
  text-decoration: none;
}

.widescreen-gradient {
  position: absolute;
  display: block;
  background-color: #000;
  height: 100%;
  width: 100%;
  background: linear-gradient(to right,  rgba(0, 0, 0, 0.25), transparent 20% 80%, rgba(0, 0, 0, 0.25));
  pointer-events: none;
  z-index: 3;
}

a:hover {
  background: #1B1B1B -webkit-linear-gradient(left, #707070, #FFF) repeat -2rem 0 / 50%;
  -webkit-text-fill-color:transparent;
  -webkit-background-clip: text;
  animation: LightSweep 0.5s infinite ease-in;
}

.content-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.text-spacer {
  margin: auto;
}

@keyframes LightSweep {
  0% {
      background-position: 100% 0;
  }
  100% {
      background-position: 0 0;
  }
}